body{
    margin:0;
    padding:0;
   /*font-family:'Lexend', sans-serif; 
   */
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   background-color:#202020;
   width: 100%;
   height: 100vh;

}
.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8px;
    
}
.logo{
    height:140px;
   margin-right: -30px;
}
nav{
    margin-left: 45px;
}
ul li a{
    color:white;
    text-decoration: none;
  
   
}
ul li a:hover{
    color:rgb(255, 0, 93);
    text-decoration: underline;
    text-decoration: rgb(255, 255, 255);
    transition: all 0.3s ease-in;
    
}

.btn{
    font-size: 20px;
    padding: 6px 15px;
    border-radius: 18px;
    background-color: rgb(255, 0, 93);
    border: none;
}
.btn:hover{
    cursor: pointer;
    box-shadow: 4px 6px 4px 2px rgb(0, 0, 0);
    background-color: rgb(21, 142, 247);
}
li{
   
    list-style: none;
    font-size: 20px;
    display: inline-block;
    padding: 10px;
    
}
h1{
    padding-top: 4px;
    color:white;
}
span{
    color:rgb(255, 0, 93);
}
.image{
    margin-top: 20px;
    border:8px solid #3f3e3e;
    width:300px;
    height:300px;
    border-radius: 50%;
}
.profile{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items:center;
    
}
.h1{
    color:rgb(255, 0, 93);
    margin-bottom: 0px;
    text-align: center;
}
.tag{
    margin-top: 4px;
    padding-top: 0px;
   
    
}
.p1{
    text-align: center;
    font-size: 17px;
    color: rgb(143, 143, 143);
}
.icons{
    display: flex;
   gap:30px;
   padding-left: 50px;
  font-size: 20px;
  color:beige;
}
.bi-linkedin:hover{
    color:orangered;
}
.bi-github:hover{
    color:orangered;
}
.bi-envelope:hover{
    color:orangered;
}
.bi-twitter:hover{
    color: orangered;
}
.projects{
    text-align: center;
    margin-top: 100px;
}
.flex{
   
    display: flex;
    gap:40px;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 230px;
}
.box-1{
    cursor: pointer;
    transition: .5s;
    width:300px;
    height: 380px;
    color:rgb(0, 0, 0);
    background-color: white;
    border: 1px solid rgb(255, 251, 251);
    border-radius: 10px;
    margin-bottom: 10px;
}
.img1{
    border-bottom: 2px solid #e2e4e6;

    width:100%;
    height: 200px;
    box-sizing: border-box;
   border-top-left-radius: 14px;
   border-top-right-radius: 14px;
}
.img2{
    border-bottom: 2px solid #e2e4e6;
    width:100%;
    height:200px;
    box-sizing: border-box;
    object-fit: cover;
}
.img3{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.edit{
    color:rgb(255, 0, 93);
    cursor: pointer;
}
.edit:hover{
    color:rgb(63, 117, 255);
    transition: all 0.3s ease-in;

}
.box-1:hover{
    transform: rotate(5deg);
    width:350px;
    border: 1px solid white;
    box-shadow: 4px 8px 8px 10px rgb(255, 0, 106);

}
.select{
    color:rgb(13, 158, 255);
}
.para{
   padding-left: 5px;
}
.div{
    width:100%;
    background-color: rgb(50, 197, 255);
}
.skill{
    text-align: center;
    color: yellow;
}
.p3{
    text-align: center;
    font-size: 20px;
    color:white;
}
.icons1{
    display: flex;
    margin-left: 70px;
    flex-wrap: wrap;
    align-items: center;
    gap:20px;
    justify-content: space-evenly;
    margin-bottom: 20px;
    margin-right: 90px;
}
h3{
    color:white;
    text-align: center;
}
.icons3{
    display: flex;
    margin-left: 50px;
    flex-wrap: wrap;
    align-items: center;
    gap:10px;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 90px;
}
.luc1{
   
    border-radius: 14px;
}
.luc2{
   
    padding-left: 22px;
}
.dar1{
    padding-left: 7px;
}
.dar2{
    padding-left: 35px;
}
.dar3{
    padding-left: 12px;
}
.input{
   
   margin: 100px auto;
    width: 600px;
    height:470px;
   
   
}
.text{
    text-align: center;
    color: yellow;
    font-size: 34px;

}
.paragraph{
    text-align: center;
    color: white;
    

}
.input4{
    margin-top: 10px;
    width: 70%;
    padding-left: 20px;
    padding: 20px 15px;
    margin-left: 70px;
    border-radius: 24px;
    border: none;
    
}
.input5{
    margin-top: 10px;
    width: 70%;
    height: 70px;
    padding-left: 20px;
    padding: 20px 15px;
    margin-left: 70px;
    border-radius: 24px;
    border: none;
}
.btn2{
    margin-top: 20px;
    margin-left: 240px;
    padding: 15px 45px;
    background-color: yellow;
    border: none;
    border-radius: 14px;
    cursor: pointer;


}
.btn2 a{
    text-decoration: none;
}
.main-bar{
    margin-top: 27px;
    width:400px;
    height: 470px;
    border: 2px solid white;
   
    font-size: 18px;
    color: white;
    border-radius: 14px;
    padding: 20px;
    
}
.bi-arrow-right{
    color: rgb(0, 166, 255);
}
.edu{
   
    color: yellow;
   
  text-align: center;
}
.edu1{
    color: yellow;
    text-align: center;
}
.study{
    margin-top: 50px;
}
.study2{
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap:30px;
}

.main-bar2{
    font-size: 18px;
    margin-top: 25px;
    width:400px;
    height: 470px;
    border: 2px solid white;
    padding: 20px;
    border-radius: 14px;
   
    color: white;
}
.u{
    text-align: center;
    color:yellow;
}
.bi-emoji-smile{
    color: rgb(180, 162, 58);
}
.foot{
    text-align: center;
    color: grey;
    font-size: 20px;
}
.foot2{
    text-align: center;
    color: grey;
    padding-bottom: 10px;
}
.num{
    text-decoration: none;
    color: black;
}
#box2:hover{
    transform: rotate(5deg);
    width:350px;
    border: 1px solid white;
    box-shadow: 4px 8px 8px 10px rgb(11, 198, 255);
}